# Large binary files — don't commit to git
android-dc/jni/arm64-v8a/
android-dc/jni/armeabi-v7a/
android-dc/jni/x86/
android-dc/jni/x86_64/
android-dc/libs/
android-dc/obj/
android-dc/build/
android-dc/.gradle/
android-dc/ndkArch

# Rust build artifacts
target/